body {
    background: #000;
}

header {
    background-color: #000;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    
}

form label{
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
}



nav a:hover {
    color: gray;
    font-size: 150%;
    text-decoration: underline;
}

.titulo_imagens {
    color: #FFF;
    margin-bottom: 30px;
}

.titulo_imagens:hover {
    font-size: 150%;
}

.imagem:hover {
    height: 300px;
}

.descricao_imagens {
    color: #FFF;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
}

.descricao {
    text-align: center;
}

.descricao p {
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
}

.produtos{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border: #FFF 2px solid;
    border-radius: 10px;
}
.produtos li:active{
    border-color: dimgrey;
}

.produtos li:hover{
    border-color: dimgray;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 27px;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: #000;
}

.descricao_footer {
    color: white;
    font-size: 20px;
}

main{
    width: 940px;
    margin: 0  auto;
    color: white;
    
}

form{
    margin: 40px  0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 05px 50px;
    width: 20%;
}

.checkbox{
    margin: 20px 0;
}

.barra_pesquisa{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #FFF;
}

.barra_input{
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin: 0 0 10px;
}

.barra_pesquisa:active{
    border-color: dimgray;
}

.barra_pesquisa:hover{
    border-color: dimgray;
    color: gray;
    text-decoration: underline;
    font-size: 27px;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: dimgray;
  color: white;
  border-radius: 5px;
  transition: all;
  cursor: pointer;
  
}

.enviar:hover{
    background:darkgrey;
    transform: scale(1.2);
}